{% extends 'partials/auth.html'%}
{% load static %}

{% block title %}
    Register
{% endblock %}


{% block content %}

<div>
    Register

    {% if messages %}
    {% for message in messages %}
         {{ message }}
    {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <input type="text" placeholder="username" name="username" required/>
        <input type="email" placeholder="email" name="email" required/>
        <input type="password" placeholder="password" name="password1" required/>
        <input type="password" placeholder="password" name="password2" required/>
        <button type="submit" value="Register">SUBMIT</button>
    </form>
</div>
{% endblock %}