{% extends 'partials/base.html'%}
{% load static %}

{% block title %}
    Home
{% endblock %}


{% block content %}

            <div class='safety-header'></div>
            
            <section class='safety'>
                
                <div class='sides'>
                    <div class='heading'><h3> Safety - Smart Hiring on Mr.KIM</h3></div>
                    <p class='safety-intro'>Before you hire a professional service provider in your local area, there are a few things should look out for. Our tips are below.</p>
                    <h3>Are you a professional service provider on Mr. KIM? Go to Safety for Professional services providers.</h3>
                    <br />
                    
                </div>
                <div class='sides-two'>
                <h3>Review the pro’s profile</h3>
                    <p>Profiles are designed to give you helpful information to hire the right professional service provider. See some tips below:</p><br/><br/>
                    <h3>1. Customer reviews.</h3>
                    <p>See what past customers say about a professional service provider. Verified reviews are from
                        customers who hired a professional service provider through Mr.KIM app, while unverified
                        reviews are from customers who found the professional services providers somewhere else.
                        You can also see how a professional service providers responded to reviewers, which can help
                        you understand how they interact with their customers.</p>
                    <br />
                    <h3>2. Business information.</h3>
                    <p>The profile gives the professional service providers a chance to tell you about their business
                        —and explain why you should hire them. You’ll see things like pictures of their work, a
                        description of their business, why they love what they do, a link to their website and how many
                        times they’ve been hired through Mr.KIM.</p>
                    <br />
                    <h3>3. Credentials.</h3>
                    <p>We know a professional service provider’s credentials are important to hiring with confidence.
                        A professional service provider’s profile may include:</p><br />
                    <ul>
                        <li>A &quot;Top Professional service provider&quot; badge, which means they’re highly rated across
                            several reviews from Mr.KIM customers.</li>
                        <li>A license badge, which means we’ve used a public database to verify the license number
                            they provided.</li>
                        <li>A background check badge, which means the account holder submitted a background
                            check and met our criteria to receive the background check badge. For businesses with
                            multiple workers, this does not guarantee the specific person you&#39;re working with has
                            passed a background check, so be sure you&#39;re comfortable with the person completing
                            your request.</li>
                    </ul>
                    <br />
                    <h3>Learn more about the professional service provider</h3>
                    <ul>
                        <li>Ask questions. We make it easy to talk to a professional service provider without revealing any of your contact info. So, be sure to ask as many questions as you need and tell them exactly what you’re looking for. You might want to ask about:</li>
                        <li>Ask for pictures of past work</li>
                        <li>Ask for references from past customers</li>
                        <li>Ask whether your project requires a permit</li>
                        <li>if the professional service provider plans to subcontract any of the work</li>
                        <li>You can also send a professional service provider picture of what you’re looking for. Don’t be afraid to schedule a phone call or an in-person meeting.</li>
                        <li>Research. It’s always worth seeing what other information you can find about a professional service provider you’re considering. Think about resources where you might find professional service providers more information before making hiring decision.</li>
                    </ul>
                    <br />
                    <h3>Plan ahead to make sure the job is done right</h3>

                    <li>Set expectations in writing. A written agreement is the best way to make sure everyone is on the same page. Include details like the who, what, where, and cost of your project.
                    </li>
                    <li>Agree on payment. Especially for high-value projects, don’t pay with cash (or via wire
                        transfer or cashier’s check), and limit your down payment. Consider making payments
                        during the project contingent on completion of defined amounts of work.</li>

                    <br />

                    <h3>Think through insurance, permitting, and licensing</h3>

                    <li>Verify insurance. Something unexpected may happen during your project, so check your
                        insurance policies to make sure you’re covered. Your own insurance provider is always
                        the best resource to learn if your policy covers any risks associated with your project.
                        You should also verify a professional service provider’s insurance where applicable.</li>
                    <li>Get permits and check licensing. A professional service provider’s license requirements
                        (or whether permits are required for your project) depends on the laws of your city and
                        country, and what kind of project you’re hiring for. Contact your country’s central or
                        local government about specific questions.</li>
                </div>
            </section>
            <div class='premium'>
               
            </div>
            <section class='safety'>
                
                <div class='sides'>
                    <div class='heading'><h3> Your safety as professional service provider on Mr.KIM</h3></div>
                    <p class='safety-intro'>At Mr. KIM, we want our professional service provider to be safe- and for Mr.KIM to be a safe place for everyone. Here is safety guidelines and how you can prioritize your safety before,
during and after a job.</p>
                </div>
                <div class='side-two'>
                <h3>Set clear expectations</h3>
                
<p>Ask questions and set expectations with the customer before you get to the job. If you
can, get everything in writing. A written agreement is the best way to make sure you’re
on the same page. Include details like the who, what, where and cost of the project.</p><br/>

<p>If a written agreement isn’t possible, cover these things with the customer before you
get to the job:</p><br/>
<ul>
<li>Work environment. Discuss who’ll be in the house, service area(s), and where you’ll be
working.</li>
<li>Job expectations. Make sure you know what the work will involve and that you can do it.</li>
<li>Payment. Talk about how much you charge and the method of payment in advance. This
will help avoid potentially awkward situations at the end of the job when you ask to be
paid.</li></ul><br/>

<h3>Trust your gut</h3>
<p>Mr.KIM works hard to screen requests, but you should also be on the lookout. If
something feels off, it probably is.</p><br/>

<ul>
<li>Avoid suspicious or spammy requests. For example, the customer’s name sounds fake.
Or the customer asks you for your bank account for no reason. Don’t respond to these
requests — report them to us instead.</li>
<li>Report discriminatory requests. Mr.KIM has a Non-Discrimination Policy because we
value good work and a job well done — not what you look like, who you love or what
you believe in or which tribe you come from. Tell us if you feel a request is
discriminatory, so we can investigate it.</li>
<li>Tell someone before you start a new job. Share where you’ll be working and when.
Make sure your phone is always charged and near you in case of an emergency.</li>
<li>Remove yourself from dangerous situations. If something isn’t right, leave immediately.
We care about your safety. If you let us know you left a job because you felt unsafe, we
won’t hold it against you.</li>
<li>In case of an emergency call the law enforcement in your area of service. If there is an
imminent threat to someone’s health or safety, call law enforcement immediately.
When safe to do so, please report these issues to us.</li>
</ul>
                </div>
                </section>
                <br/>
                <br/><br/>
                <hr/>
            <section class='safety-down'>
            <h2 class='antiere'>Please tell us if something happened with a job you found on<br/> Mr. KIM App, or a service you requested from Mr. Kim App.</h2> <p>We’ll work with
you to resolve concerns, big or small.</p><br/><br/>
<h4 class='antie'>NOTE: Please note that, as a marketplace, Mr.KIM does not control the actions of any professional service provider or customer using our service. You can visit our help
center and leave us a note with any
questions.</h4></section>
        </>


        {% endblock %}
